exemplo/
UI/node_modules/
UI/dist/
UI/dist-electron/
UI/release/
UI/build/icons/
documentos/*.aux
documentos/*.log
documentos/*.out
documentos/*.toc
documentos/*.synctex.gz
UI/build/installer.nsh
UI/package.json
UI/package.json
